archived/
temp/*
logs/*
*swp
src/__pycache__/*
removeme*
wandb/

# raw data
data/*.jsonl

# data
# ALL softlink to cfda4

# checkpoints
checkpoints/

# evaluation data
evaluation/*
evaluation/README.md
predictions/

# archived codes
**/archived/

# venv
venv/

**/__pycache__/
