archived/
temp/*
logs/*
*swp
src/__pycache__/*
removeme*

# raw data
data/canard/*
data/clariq/*
data/quac/*
!data/clariq/train.tsv

# data
data/archived/*
data/*jsonl
!data/train_cqg_v0.sample.train.jsonl
!data/train_cqg_v0.sample.eval.jsonl

# checkpoints
fidcqg/
fidmrg/

# evaluation data (coqa)
evaluation/*
evaluation/README.md
