archived/
temp/*
logs/*
*swp
src/__pycache__/*
removeme*
wandb/

# raw data
data/*.jsonl

# data
data/archived/*
data/*jsonl
!data/train_cqg_v0.sample.train.jsonl
!data/train_cqg_v0.sample.eval.jsonl

# checkpoints
checkpoints/

# evaluation data (coqa)
evaluation/*
evaluation/README.md

# archived codes
**/archived/

# venv
venv/

**/__pycache__/
